In [1]:
import pandas as pd
import numpy as np

###### Link to Vehicle dataset
#to be added

In [2]:
# Load dataset
df = pd.read_csv(r'/home/ritul/Documents/Datasets/archive/bus_gps_data/treatedBusDataOnlyRoute.csv')

In [3]:
test = df.head(5)
print(test)

         date      time   order   line   latitude  longitude  speed
0  01-25-2019  08:50:39  C51623  371.0 -22.883270  -43.34256   37.0
1  01-25-2019  08:55:43  C51556  371.0 -22.887461  -43.28273    8.0
2  01-25-2019  08:56:37  C51641  371.0 -22.884029  -43.34251   19.0
3  01-25-2019  08:57:24  C51649  371.0 -22.881630  -43.29324   15.0
4  01-25-2019  08:57:27  C51561  371.0 -22.907370  -43.23761   13.0

In [50]:
test_df = df.loc[df['order'] == 'C51623']
test_df.reset_index(drop=True, inplace=True)
test_df
test_df.to_csv("/home/ritul/Documents/fleetalytics/data/test_vehicle.csv", index=False)

In [51]:
# ## RUN ONLY AFTER RUNNING PREV CELL

# print(len(test_df['date']))
# print(test_df.head())
# # Change date format to SQL DATE type
# for i in range(len(test_df)):
#     x = test_df['date'][i][6:] + "-" + test_df['date'][i][0:2] + "-" + test_df['date'][i][3:5]
#     test_df['date'][i] = x
    
# test_df.to_csv("/home/ritul/Documents/fleetalytics/data/test_vehicle.csv", index=False)
# test_df.head()

22410
         date      time   order   line   latitude  longitude  speed
0  01-25-2019  08:50:39  C51623  371.0 -22.883270 -43.342560   37.0
1  01-25-2019  09:08:12  C51623  371.0 -22.898211 -43.350029    0.0
2  01-25-2019  09:09:43  C51623  371.0 -22.900921 -43.346779    0.0
3  01-25-2019  09:10:42  C51623  371.0 -22.901060 -43.346989    0.0
4  01-25-2019  09:22:44  C51623  371.0 -22.898970 -43.351940   36.0

/tmp/ipykernel_16318/1909592413.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df['date'][i] = x

         date      time   order   line   latitude  longitude  speed
0  2019-01-25  08:50:39  C51623  371.0 -22.883270 -43.342560   37.0
1  2019-01-25  09:08:12  C51623  371.0 -22.898211 -43.350029    0.0
2  2019-01-25  09:09:43  C51623  371.0 -22.900921 -43.346779    0.0
3  2019-01-25  09:10:42  C51623  371.0 -22.901060 -43.346989    0.0
4  2019-01-25  09:22:44  C51623  371.0 -22.898970 -43.351940   36.0

In [53]:
type(test_df['date'][0])
## \COPY table FROM 'file.csv' WITH ( FORMAT CSV, HEADER true );

str