In [3]:
import pandas as pd
import numpy as np
import random
from tqdm import tqdm

In [3]:
# Load dataset
df = pd.read_csv(r'/home/ritul/Documents/Datasets/archive/bus_gps_data/treatedBusDataOnlyRoute.csv')

In [4]:
# Get list of Unique Orders
# Extract unique VIN(order)
df_unique = df.drop_duplicates(subset=["order"],keep='first')
df_unique.head()
len(df_unique)
bus_unique = df_unique["order"].to_list()
print(len(bus_unique))

5421

In [ ]:
val_counts = dict(df['order'].value_counts(ascending=False))
print(val_counts)
'''
{'B51524': 32733, 'D53544': 32551, 'B51528': 31037, 'B51522': 30143, 'B51529': 30123, 'B51550': 29526, 'B51514': 29400, 'D86254': 29031, 'B51547': 28884, 'B51503': 28792, 'B51533': 28716,
 'B51520': 28705, 'B51541': 28623, 'C51559': 28516, 'B51546': 28313, '
'''

In [ ]:
val_counts['B51524']
valid_buses = []
ctr = 0
for i in val_counts:
    if val_counts[i] > 20000:
        valid_buses.append(i)
        ctr += 1
print(ctr)
print(valid_buses)

In [16]:
# Sorted Valid fleet => 503 buses
valid_df = df.loc[df['order'].isin(valid_buses)]
valid_df = valid_df.sort_values(by = 'order')

In [18]:
valid_df['order'].describe()

count     11466537
unique         503
top         B51524
freq         32733
Name: order, dtype: object

In [24]:
# final_df = pd.DataFrame(data=None, columns=valid_df.columns, index=valid_df.index)
bus_chunks = []
for i in tqdm(valid_df['order'].unique()):
    x = valid_df[valid_df['order']== i].head(20000)
    bus_chunks.append(x)
print("bus_chunks len: ", len(bus_chunks))
final_df = pd.concat(bus_chunks)
final_df

100%|██████████| 503/503 [05:09<00:00,  1.62it/s]

bus_chunks len:  503

                date      time   order   line   latitude  longitude  speed
14291325  02-12-2019  10:04:53  A41121  460.0 -22.983540 -43.217812    0.0
14262229  02-08-2019  19:36:03  A41121  460.0 -22.968451 -43.217350   26.0
14262184  02-08-2019  19:32:03  A41121  460.0 -22.971390 -43.217369    0.0
14262160  02-08-2019  19:30:33  A41121  460.0 -22.974239 -43.217991   21.0
14262127  02-08-2019  19:28:03  A41121  460.0 -22.978069 -43.224060   21.0
...              ...       ...     ...    ...        ...        ...    ...
31480584  03-11-2019  16:17:07  D87392  898.0 -22.984779 -43.685699   31.0
31370556  02-07-2019  05:14:05  D87392  898.0 -22.955589 -43.687462   21.0
31370558  02-07-2019  05:15:05  D87392  898.0 -22.957769 -43.690552   32.0
31433629  02-25-2019  16:40:09  D87392  898.0 -22.923559 -43.691029   35.0
31370562  02-07-2019  05:17:05  D87392  898.0 -22.963751 -43.703129   38.0

[10060000 rows x 7 columns]

In [25]:
# Total datapoints in final_df = 10060000
final_df.to_csv("/home/ritul/Documents/Datasets/fleetalytics_data/fleet_data.csv", index=False)

In [28]:
# Allocate Bus types to each Order
# M = Mini, D = Double Decker, E = Express, C = Coach
bus_types = ["M", "D", "E", "C"]
types_arr = []
for i in tqdm(range(503)):
    bt = random.choice(bus_types)
    for i in range(20000):
        types_arr.append(bt)
    
print(len(types_arr))

100%|██████████| 503/503 [00:00<00:00, 926.13it/s]

10060000

In [13]:
sr_arr = []

for i in tqdm(range(503)):
    m = 1
    for i in range(20000):
        sr_arr.append(m)
        m += 1 
    #print(m)
print(len(sr_arr))

100%|██████████| 503/503 [00:00<00:00, 512.37it/s]

10060000

In [36]:
final_df["type"] = types_arr
check_df = final_df.insert(0, "sr_num", sr_arr)
check_df

In [1]:
final_df.head()

# final_df.drop(columns=df.columns[0], axis=1, inplace=True)

NameError: name 'final_df' is not defined

In [38]:
final_df.to_csv("/home/ritul/Documents/Datasets/fleetalytics_data/fleet_data.csv", index=False)

In [ ]:
bus_fleet = []
for i in tqdm(range(len(bus_unique))):
    if bus_unique[i][0] == "A":
        bus_fleet.append(bus_unique[i])
print(len(bus_fleet))
print(bus_fleet)
# bus_fleet is the selected buses(A type) = 479

In [ ]:
# Define new fleet dataframe
fleet_df = df.loc[df['order'].isin(bus_fleet)]
fleet_df

In [ ]:
len(pd.unique(fleet_df['order']))
# Allocate Bus types to each Order
# M = Mini, D = Double Decker, E = Express, C = Coach
bus_types = ["M", "D", "E", "C"]
fleet_bus_types = []
for i in range(len(fleet_df)):
    fleet_bus_types.append(random.choice(bus_types))
print(len(fleet_bus_types))
print(fleet_bus_types)
# number of data points overall = 4016518

In [ ]:
fleet_df["type"] = fleet_bus_types
fleet_df

In [13]:
fleet_df.to_csv("/home/ritul/Documents/fleetalytics/data/fleet_data.csv", index=False)

In [4]:
test_df = pd.read_csv(r'/home/ritul/Documents/Datasets/fleetalytics_data/fleet_data.csv')

In [11]:
test_df['sr_num'] = sr_arr
test_df

,sr_num,date,time,order,line,latitude,longitude,speed,type
0,1,02-12-2019,10:04:53,A41121,460.0,-22.983540,-43.217812,0.0,D
1,2,02-08-2019,19:36:03,A41121,460.0,-22.968451,-43.217350,26.0,D
2,3,02-08-2019,19:32:03,A41121,460.0,-22.971390,-43.217369,0.0,D
3,4,02-08-2019,19:30:33,A41121,460.0,-22.974239,-43.217991,21.0,D
4,5,02-08-2019,19:28:03,A41121,460.0,-22.978069,-43.224060,21.0,D
...,...,...,...,...,...,...,...,...,...
10059995,19996,03-11-2019,16:17:07,D87392,898.0,-22.984779,-43.685699,31.0,C
10059996,19997,02-07-2019,05:14:05,D87392,898.0,-22.955589,-43.687462,21.0,C
10059997,19998,02-07-2019,05:15:05,D87392,898.0,-22.957769,-43.690552,32.0,C
10059998,19999,02-25-2019,16:40:09,D87392,898.0,-22.923559,-43.691029,35.0,C
10059999,20000,02-07-2019,05:17:05,D87392,898.0,-22.963751,-43.703129,38.0,C

In [14]:
test_df.to_csv("/home/ritul/Documents/Datasets/fleetalytics_data/fleet_data.csv", index=False)