In [2]:
import pandas as pd
import numpy as np
import random
from tqdm import tqdm

In [3]:
# Load dataset
df = pd.read_csv(r'/home/ritul/Documents/Datasets/fleetalytics_data/fleet_data.csv')

In [4]:
# Get list of Unique Orders
# Extract unique VIN(order)
df_unique = df.drop_duplicates(subset=["order"],keep='first')
df_unique.head()
len(df_unique)
bus_unique = df_unique["order"].to_list()
print(len(bus_unique))

503

In [5]:
'''{
  "cars": [
    { "vin": "1abc3" },
    { "vin": "435ac" },
    { "vin": "fda34c" },
    { "vin": "kz999" }
  ]
}'''
temp = {
    "cars":[

    ]
}

for i in bus_unique:
    temp["cars"].append({"vin":str(i)})

print(temp)

{'cars': [{'vin': 'A41121'}, {'vin': 'A48044'}, {'vin': 'A48051'}, {'vin': 'A71579'}, {'vin': 'B10048'}, {'vin': 'B10073'}, {'vin': 'B10516'}, {'vin': 'B10519'}, {'vin': 'B10522'}, {'vin': 'B10528'}, {'vin': 'B10560'}, {'vin': 'B10562'}, {'vin': 'B11506'}, {'vin': 'B11509'}, {'vin': 'B11510'}, {'vin': 'B11512'}, {'vin': 'B11515'}, {'vin': 'B11518'}, {'vin': 'B11519'}, {'vin': 'B11525'}, {'vin': 'B11528'}, {'vin': 'B11530'}, {'vin': 'B11538'}, {'vin': 'B11539'}, {'vin': 'B11541'}, {'vin': 'B11542'}, {'vin': 'B11543'}, {'vin': 'B11545'}, {'vin': 'B11546'}, {'vin': 'B11547'}, {'vin': 'B11548'}, {'vin': 'B11550'}, {'vin': 'B11556'}, {'vin': 'B11557'}, {'vin': 'B11561'}, {'vin': 'B11562'}, {'vin': 'B11563'}, {'vin': 'B11565'}, {'vin': 'B11569'}, {'vin': 'B11570'}, {'vin': 'B11572'}, {'vin': 'B11573'}, {'vin': 'B11576'}, {'vin': 'B11579'}, {'vin': 'B11580'}, {'vin': 'B11581'}, {'vin': 'B11583'}, {'vin': 'B11584'}, {'vin': 'B11585'}, {'vin': 'B11586'}, {'vin': 'B11598'}, {'vin': 'B11601'}, {'vin': 'B25570'}, {'vin': 'B25571'}, {'vin': 'B25586'}, {'vin': 'B25591'}, {'vin': 'B25592'}, {'vin': 'B25594'}, {'vin': 'B25598'}, {'vin': 'B25599'}, {'vin': 'B25600'}, {'vin': 'B25601'}, {'vin': 'B25603'}, {'vin': 'B25606'}, {'vin': 'B25608'}, {'vin': 'B25611'}, {'vin': 'B25614'}, {'vin': 'B25615'}, {'vin': 'B27001'}, {'vin': 'B27002'}, {'vin': 'B27003'}, {'vin': 'B27005'}, {'vin': 'B27012'}, {'vin': 'B27024'}, {'vin': 'B27026'}, {'vin': 'B27033'}, {'vin': 'B27037'}, {'vin': 'B27040'}, {'vin': 'B27042'}, {'vin': 'B27044'}, {'vin': 'B27047'}, {'vin': 'B27048'}, {'vin': 'B27070'}, {'vin': 'B27074'}, {'vin': 'B27080'}, {'vin': 'B27085'}, {'vin': 'B27087'}, {'vin': 'B27092'}, {'vin': 'B27094'}, {'vin': 'B27095'}, {'vin': 'B27096'}, {'vin': 'B27101'}, {'vin': 'B27104'}, {'vin': 'B27105'}, {'vin': 'B27131'}, {'vin': 'B27133'}, {'vin': 'B27148'}, {'vin': 'B27153'}, {'vin': 'B27154'}, {'vin': 'B27156'}, {'vin': 'B27161'}, {'vin': 'B27162'}, {'vin': 'B27180'}, {'vin': 'B27181'}, {'vin': 'B27182'}, {'vin': 'B27184'}, {'vin': 'B27192'}, {'vin': 'B28515'}, {'vin': 'B28516'}, {'vin': 'B28519'}, {'vin': 'B28535'}, {'vin': 'B28563'}, {'vin': 'B28619'}, {'vin': 'B28620'}, {'vin': 'B28621'}, {'vin': 'B28622'}, {'vin': 'B28624'}, {'vin': 'B32610'}, {'vin': 'B32660'}, {'vin': 'B42501'}, {'vin': 'B42521'}, {'vin': 'B42536'}, {'vin': 'B42548'}, {'vin': 'B42550'}, {'vin': 'B42576'}, {'vin': 'B42580'}, {'vin': 'B42601'}, {'vin': 'B42604'}, {'vin': 'B42605'}, {'vin': 'B42608'}, {'vin': 'B42611'}, {'vin': 'B42613'}, {'vin': 'B42615'}, {'vin': 'B42617'}, {'vin': 'B42620'}, {'vin': 'B42626'}, {'vin': 'B42631'}, {'vin': 'B42636'}, {'vin': 'B42639'}, {'vin': 'B42640'}, {'vin': 'B42647'}, {'vin': 'B42648'}, {'vin': 'B42649'}, {'vin': 'B42650'}, {'vin': 'B42664'}, {'vin': 'B42668'}, {'vin': 'B44536'}, {'vin': 'B44570'}, {'vin': 'B44596'}, {'vin': 'B44605'}, {'vin': 'B44646'}, {'vin': 'B51501'}, {'vin': 'B51503'}, {'vin': 'B51505'}, {'vin': 'B51507'}, {'vin': 'B51508'}, {'vin': 'B51514'}, {'vin': 'B51515'}, {'vin': 'B51517'}, {'vin': 'B51518'}, {'vin': 'B51520'}, {'vin': 'B51521'}, {'vin': 'B51522'}, {'vin': 'B51523'}, {'vin': 'B51524'}, {'vin': 'B51526'}, {'vin': 'B51527'}, {'vin': 'B51528'}, {'vin': 'B51529'}, {'vin': 'B51530'}, {'vin': 'B51531'}, {'vin': 'B51532'}, {'vin': 'B51533'}, {'vin': 'B51535'}, {'vin': 'B51539'}, {'vin': 'B51540'}, {'vin': 'B51541'}, {'vin': 'B51544'}, {'vin': 'B51545'}, {'vin': 'B51546'}, {'vin': 'B51547'}, {'vin': 'B51548'}, {'vin': 'B51549'}, {'vin': 'B51550'}, {'vin': 'B51551'}, {'vin': 'B51553'}, {'vin': 'B51554'}, {'vin': 'B51562'}, {'vin': 'B51563'}, {'vin': 'B51565'}, {'vin': 'B51569'}, {'vin': 'B51570'}, {'vin': 'B51572'}, {'vin': 'B51577'}, {'vin': 'B51585'}, {'vin': 'B51594'}, {'vin': 'B51595'}, {'vin': 'B51600'}, {'vin': 'B51601'}, {'vin': 'B51602'}, {'vin': 'B51604'}, {'vin': 'B51609'}, {'vin': 'B51611'}, {'vin': 'B51613'}, {'vin': 'B51614'}, {'vin': 'B51620'}, {'vin': 'B51621'}, {'vin': 'B51624'}, {'vin': 'B51625'}, {'vin': 'B51626'}, {'vin': 'B51627'}, {'vin': 'B51628'}, {'vin': 'B51629'}, {'vin': 'B51638'}, {'vin': 'B51639'}, {'vin': 'B51640'}, {'vin': 'B51643'}, {'vin': 'B51644'}, {'vin': 'B51645'}, {'vin': 'B51646'}, {'vin': 'B51648'}, {'vin': 'B51651'}, {'vin': 'B51652'}, {'vin': 'B58004'}, {'vin': 'B58007'}, {'vin': 'B58008'}, {'vin': 'B58010'}, {'vin': 'B58012'}, {'vin': 'B58013'}, {'vin': 'B58024'}, {'vin': 'B58025'}, {'vin': 'B58027'}, {'vin': 'B58029'}, {'vin': 'B58032'}, {'vin': 'B58034'}, {'vin': 'B58035'}, {'vin': 'B58039'}, {'vin': 'B58040'}, {'vin': 'B58043'}, {'vin': 'B58048'}, {'vin': 'B58052'}, {'vin': 'B58056'}, {'vin': 'B58059'}, {'vin': 'B58063'}, {'vin': 'B58067'}, {'vin': 'B58075'}, {'vin': 'B58084'}, {'vin': 'B58095'}, {'vin': 'B58096'}, {'vin': 'B58097'}, {'vin': 'B58099'}, {'vin': 'B58117'}, {'vin': 'B58123'}, {'vin': 'B58129'}, {'vin': 'B58146'}, {'vin': 'B58179'}, {'vin': 'C13010'}, {'vin': 'C13046'}, {'vin': 'C13047'}, {'vin': 'C13070'}, {'vin': 'C13082'}, {'vin': 'C27004'}, {'vin': 'C27015'}, {'vin': 'C27018'}, {'vin': 'C27022'}, {'vin': 'C27030'}, {'vin': 'C27035'}, {'vin': 'C27038'}, {'vin': 'C27072'}, {'vin': 'C27078'}, {'vin': 'C27083'}, {'vin': 'C27097'}, {'vin': 'C27114'}, {'vin': 'C27116'}, {'vin': 'C27167'}, {'vin': 'C27186'}, {'vin': 'C27193'}, {'vin': 'C27195'}, {'vin': 'C27196'}, {'vin': 'C27197'}, {'vin': 'C27198'}, {'vin': 'C30002'}, {'vin': 'C30020'}, {'vin': 'C30065'}, {'vin': 'C30279'}, {'vin': 'C30306'}, {'vin': 'C30307'}, {'vin': 'C42502'}, {'vin': 'C42507'}, {'vin': 'C42509'}, {'vin': 'C42514'}, {'vin': 'C42526'}, {'vin': 'C42528'}, {'vin': 'C42535'}, {'vin': 'C42537'}, {'vin': 'C42547'}, {'vin': 'C42549'}, {'vin': 'C42570'}, {'vin': 'C42571'}, {'vin': 'C42600'}, {'vin': 'C42623'}, {'vin': 'C42637'}, {'vin': 'C42671'}, {'vin': 'C47508'}, {'vin': 'C47509'}, {'vin': 'C47510'}, {'vin': 'C47511'}, {'vin': 'C47532'}, {'vin': 'C47543'}, {'vin': 'C47547'}, {'vin': 'C47555'}, {'vin': 'C47597'}, {'vin': 'C47624'}, {'vin': 'C47638'}, {'vin': 'C47639'}, {'vin': 'C47642'}, {'vin': 'C47646'}, {'vin': 'C47647'}, {'vin': 'C47648'}, {'vin': 'C47687'}, {'vin': 'C47688'}, {'vin': 'C47707'}, {'vin': 'C47744'}, {'vin': 'C47754'}, {'vin': 'C47759'}, {'vin': 'C47769'}, {'vin': 'C47773'}, {'vin': 'C47782'}, {'vin': 'C47783'}, {'vin': 'C47810'}, {'vin': 'C47812'}, {'vin': 'C47849'}, {'vin': 'C47871'}, {'vin': 'C51502'}, {'vin': 'C51506'}, {'vin': 'C51509'}, {'vin': 'C51510'}, {'vin': 'C51516'}, {'vin': 'C51525'}, {'vin': 'C51536'}, {'vin': 'C51538'}, {'vin': 'C51542'}, {'vin': 'C51543'}, {'vin': 'C51552'}, {'vin': 'C51555'}, {'vin': 'C51556'}, {'vin': 'C51557'}, {'vin': 'C51558'}, {'vin': 'C51559'}, {'vin': 'C51560'}, {'vin': 'C51561'}, {'vin': 'C51564'}, {'vin': 'C51567'}, {'vin': 'C51571'}, {'vin': 'C51574'}, {'vin': 'C51575'}, {'vin': 'C51576'}, {'vin': 'C51579'}, {'vin': 'C51580'}, {'vin': 'C51581'}, {'vin': 'C51582'}, {'vin': 'C51583'}, {'vin': 'C51588'}, {'vin': 'C51589'}, {'vin': 'C51590'}, {'vin': 'C51592'}, {'vin': 'C51597'}, {'vin': 'C51598'}, {'vin': 'C51603'}, {'vin': 'C51606'}, {'vin': 'C51607'}, {'vin': 'C51608'}, {'vin': 'C51610'}, {'vin': 'C51612'}, {'vin': 'C51615'}, {'vin': 'C51617'}, {'vin': 'C51618'}, {'vin': 'C51622'}, {'vin': 'C51623'}, {'vin': 'C51632'}, {'vin': 'C51633'}, {'vin': 'C51635'}, {'vin': 'C51636'}, {'vin': 'C51637'}, {'vin': 'C51641'}, {'vin': 'C51649'}, {'vin': 'C51654'}, {'vin': 'D13024'}, {'vin': 'D13034'}, {'vin': 'D13056'}, {'vin': 'D13062'}, {'vin': 'D13087'}, {'vin': 'D13094'}, {'vin': 'D13099'}, {'vin': 'D13105'}, {'vin': 'D13117'}, {'vin': 'D13125'}, {'vin': 'D13146'}, {'vin': 'D13178'}, {'vin': 'D13187'}, {'vin': 'D13194'}, {'vin': 'D13195'}, {'vin': 'D13198'}, {'vin': 'D13201'}, {'vin': 'D13202'}, {'vin': 'D13203'}, {'vin': 'D13211'}, {'vin': 'D13273'}, {'vin': 'D13277'}, {'vin': 'D13278'}, {'vin': 'D13373'}, {'vin': 'D17078'}, {'vin': 'D17109'}, {'vin': 'D17118'}, {'vin': 'D17122'}, {'vin': 'D17124'}, {'vin': 'D17126'}, {'vin': 'D53541'}, {'vin': 'D53544'}, {'vin': 'D53552'}, {'vin': 'D53648'}, {'vin': 'D53652'}, {'vin': 'D53715'}, {'vin': 'D53716'}, {'vin': 'D53721'}, {'vin': 'D53737'}, {'vin': 'D86004'}, {'vin': 'D86012'}, {'vin': 'D86023'}, {'vin': 'D86027'}, {'vin': 'D86028'}, {'vin': 'D86030'}, {'vin': 'D86050'}, {'vin': 'D86059'}, {'vin': 'D86070'}, {'vin': 'D86072'}, {'vin': 'D86081'}, {'vin': 'D86089'}, {'vin': 'D86090'}, {'vin': 'D86091'}, {'vin': 'D86105'}, {'vin': 'D86126'}, {'vin': 'D86127'}, {'vin': 'D86149'}, {'vin': 'D86168'}, {'vin': 'D86176'}, {'vin': 'D86188'}, {'vin': 'D86194'}, {'vin': 'D86203'}, {'vin': 'D86208'}, {'vin': 'D86215'}, {'vin': 'D86218'}, {'vin': 'D86225'}, {'vin': 'D86229'}, {'vin': 'D86250'}, {'vin': 'D86252'}, {'vin': 'D86254'}, {'vin': 'D86257'}, {'vin': 'D86258'}, {'vin': 'D86259'}, {'vin': 'D86264'}, {'vin': 'D86265'}, {'vin': 'D86266'}, {'vin': 'D86267'}, {'vin': 'D86268'}, {'vin': 'D86277'}, {'vin': 'D86279'}, {'vin': 'D86314'}, {'vin': 'D86316'}, {'vin': 'D86317'}, {'vin': 'D86318'}, {'vin': 'D86319'}, {'vin': 'D86320'}, {'vin': 'D86322'}, {'vin': 'D86323'}, {'vin': 'D86325'}, {'vin': 'D86326'}, {'vin': 'D86328'}, {'vin': 'D86330'}, {'vin': 'D86370'}, {'vin': 'D86374'}, {'vin': 'D86375'}, {'vin': 'D86378'}, {'vin': 'D86380'}, {'vin': 'D86381'}, {'vin': 'D86383'}, {'vin': 'D86384'}, {'vin': 'D86387'}, {'vin': 'D86389'}, {'vin': 'D86400'}, {'vin': 'D86402'}, {'vin': 'D86403'}, {'vin': 'D86405'}, {'vin': 'D86406'}, {'vin': 'D86408'}, {'vin': 'D86411'}, {'vin': 'D86788'}, {'vin': 'D86790'}, {'vin': 'D86791'}, {'vin': 'D87199'}, {'vin': 'D87306'}, {'vin': 'D87391'}, {'vin': 'D87392'}]}

In [4]:
import json
json_object = json.dumps(temp)
with open("unique_vin.json","w") as outfile:
    outfile.write(json_object)

In [ ]:
val_counts = dict(df['order'].value_counts(ascending=False))
print(val_counts)
'''
{'B51524': 32733, 'D53544': 32551, 'B51528': 31037, 'B51522': 30143, 'B51529': 30123, 'B51550': 29526, 'B51514': 29400, 'D86254': 29031, 'B51547': 28884, 'B51503': 28792, 'B51533': 28716,
 'B51520': 28705, 'B51541': 28623, 'C51559': 28516, 'B51546': 28313, '
'''

In [ ]:
val_counts['B51524']
valid_buses = []
ctr = 0
for i in val_counts:
    if val_counts[i] > 20000:
        valid_buses.append(i)
        ctr += 1
print(ctr)
print(valid_buses)

In [16]:
# Sorted Valid fleet => 503 buses
valid_df = df.loc[df['order'].isin(valid_buses)]
valid_df = valid_df.sort_values(by = 'order')

In [18]:
valid_df['order'].describe()

count     11466537
unique         503
top         B51524
freq         32733
Name: order, dtype: object

In [24]:
# final_df = pd.DataFrame(data=None, columns=valid_df.columns, index=valid_df.index)
bus_chunks = []
for i in tqdm(valid_df['order'].unique()):
    x = valid_df[valid_df['order']== i].head(20000)
    bus_chunks.append(x)
print("bus_chunks len: ", len(bus_chunks))
final_df = pd.concat(bus_chunks)
final_df

100%|██████████| 503/503 [05:09<00:00,  1.62it/s]

bus_chunks len:  503

                date      time   order   line   latitude  longitude  speed
14291325  02-12-2019  10:04:53  A41121  460.0 -22.983540 -43.217812    0.0
14262229  02-08-2019  19:36:03  A41121  460.0 -22.968451 -43.217350   26.0
14262184  02-08-2019  19:32:03  A41121  460.0 -22.971390 -43.217369    0.0
14262160  02-08-2019  19:30:33  A41121  460.0 -22.974239 -43.217991   21.0
14262127  02-08-2019  19:28:03  A41121  460.0 -22.978069 -43.224060   21.0
...              ...       ...     ...    ...        ...        ...    ...
31480584  03-11-2019  16:17:07  D87392  898.0 -22.984779 -43.685699   31.0
31370556  02-07-2019  05:14:05  D87392  898.0 -22.955589 -43.687462   21.0
31370558  02-07-2019  05:15:05  D87392  898.0 -22.957769 -43.690552   32.0
31433629  02-25-2019  16:40:09  D87392  898.0 -22.923559 -43.691029   35.0
31370562  02-07-2019  05:17:05  D87392  898.0 -22.963751 -43.703129   38.0

[10060000 rows x 7 columns]

In [25]:
# Total datapoints in final_df = 10060000
final_df.to_csv("/home/ritul/Documents/Datasets/fleetalytics_data/fleet_data.csv", index=False)

In [28]:
# Allocate Bus types to each Order
# M = Mini, D = Double Decker, E = Express, C = Coach
bus_types = ["M", "D", "E", "C"]
types_arr = []
for i in tqdm(range(503)):
    bt = random.choice(bus_types)
    for i in range(20000):
        types_arr.append(bt)
    
print(len(types_arr))

100%|██████████| 503/503 [00:00<00:00, 926.13it/s]

10060000

In [13]:
sr_arr = []

for i in tqdm(range(503)):
    m = 1
    for i in range(20000):
        sr_arr.append(m)
        m += 1 
    #print(m)
print(len(sr_arr))

100%|██████████| 503/503 [00:00<00:00, 512.37it/s]

10060000

In [36]:
final_df["type"] = types_arr
check_df = final_df.insert(0, "sr_num", sr_arr)
check_df

In [1]:
final_df.head()

# final_df.drop(columns=df.columns[0], axis=1, inplace=True)

NameError: name 'final_df' is not defined

In [38]:
final_df.to_csv("/home/ritul/Documents/Datasets/fleetalytics_data/fleet_data.csv", index=False)

In [ ]:
bus_fleet = []
for i in tqdm(range(len(bus_unique))):
    if bus_unique[i][0] == "A":
        bus_fleet.append(bus_unique[i])
print(len(bus_fleet))
print(bus_fleet)
# bus_fleet is the selected buses(A type) = 479

In [ ]:
# Define new fleet dataframe
fleet_df = df.loc[df['order'].isin(bus_fleet)]
fleet_df

In [ ]:
len(pd.unique(fleet_df['order']))
# Allocate Bus types to each Order
# M = Mini, D = Double Decker, E = Express, C = Coach
bus_types = ["M", "D", "E", "C"]
fleet_bus_types = []
for i in range(len(fleet_df)):
    fleet_bus_types.append(random.choice(bus_types))
print(len(fleet_bus_types))
print(fleet_bus_types)
# number of data points overall = 4016518

In [ ]:
fleet_df["type"] = fleet_bus_types
fleet_df

In [13]:
fleet_df.to_csv("/home/ritul/Documents/fleetalytics/data/fleet_data.csv", index=False)

In [4]:
test_df = pd.read_csv(r'/home/ritul/Documents/Datasets/fleetalytics_data/fleet_data.csv')

In [11]:
test_df['sr_num'] = sr_arr
test_df

,sr_num,date,time,order,line,latitude,longitude,speed,type
0,1,02-12-2019,10:04:53,A41121,460.0,-22.983540,-43.217812,0.0,D
1,2,02-08-2019,19:36:03,A41121,460.0,-22.968451,-43.217350,26.0,D
2,3,02-08-2019,19:32:03,A41121,460.0,-22.971390,-43.217369,0.0,D
3,4,02-08-2019,19:30:33,A41121,460.0,-22.974239,-43.217991,21.0,D
4,5,02-08-2019,19:28:03,A41121,460.0,-22.978069,-43.224060,21.0,D
...,...,...,...,...,...,...,...,...,...
10059995,19996,03-11-2019,16:17:07,D87392,898.0,-22.984779,-43.685699,31.0,C
10059996,19997,02-07-2019,05:14:05,D87392,898.0,-22.955589,-43.687462,21.0,C
10059997,19998,02-07-2019,05:15:05,D87392,898.0,-22.957769,-43.690552,32.0,C
10059998,19999,02-25-2019,16:40:09,D87392,898.0,-22.923559,-43.691029,35.0,C
10059999,20000,02-07-2019,05:17:05,D87392,898.0,-22.963751,-43.703129,38.0,C

In [14]:
test_df.to_csv("/home/ritul/Documents/Datasets/fleetalytics_data/fleet_data.csv", index=False)